<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for video in videos %}
                <div class="col-md-6 col-lg-3 image" id="test">
                    <figure>
                        <div id="{{video.id}}" class="image-link" onclick="expand(1488, '/storage/{{video.storage_name}}', {{video.video_width}}, {{video.video_height}}, 0)">
                            <img src='/storage/{{video.preview_storage_name}}' alt="Loading..." class="file-preview">
                        </div>
                        <figcaption class="file-attr">
                            <span class="file-views"><i class="fa fa-eye" aria-hidden="true"></i>0</span>
                            <span class="file-name">{{video.title}}</span>
                            <div class="file-admin-panel">
                                <!--admin delete video button-->

                                <a href="{% url 'video-delete-id' video.id %}" class="file-delete-btn" title="Delete file">Delete</a>
                                <p>adult:{{video.is_adult}}</p>
                                <p>webm:{{video.is_webm}}</p>
                                <p>mp4:{{video.is_mp4}}</p>
                                <p>hot:{{video.is_hot}}</p>
                                <!--admin delete video button ending-->
                            </div>
                            <div class="file-info">
                                <span class="file-size">({{video.video_size_str}}, {{video.video_duration_str}})</span>
                                <a class="external-link" target="_blank" href="/storage/{{video.storage_name}}" title="{{video.title}}"><i class="fa fa-external-link"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
    {% endfor %}
</body>
</html>