{% extends 'base_background.html' %} {% block background_content %}{% load static %}
{% block admin_menu_content %}
{% endblock %}
<!--admin special menu -->
        {% if is_authenticated %}
        <ul class="admin-special-menu clearfix">
            <li><a href="{% url 'webm-page' %}">Home</a></li>
            <li><a href="{% url 'page-admin-new' %}">ControlPanel</a></li>
            <li><a href="{% url 'status-bot' %}">Status</a></li>
            <li class="admin-sign-out"><a href="{% url 'logout' %}">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
        {% endif %}
<!--admin special menu ending-->
{% endblock %}