{% extends 'base_background.html' %} {% block background_content %}{% load static %}
{% if is_authenticated %}
<ul class="admin-special-menu clearfix">
    <li><a href="{% url 'webm-page' %}">Home</a></li>
    <li><a href="{% url 'page-admin-new' %}">ControlPanel</a></li>
    <li><a href="{% url 'status-bot' %}">Status</a></li>
    <li><a href="{% url 'reported-page' %}">Report</a></li>
    <li class="admin-sign-out"><a href="{% url 'logout' %}">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
</ul>
{% endif %}
<div class="container">
    <div class="category">
        <div class="category-title">
            <a href="/"><img src="{% static 'img/logo.png' %}" class="logo" width="320px"></a>
        </div>
    </div>
</div>
<!--    menu-->
<nav class="menu clearfix">
    <a href="/" class="menu-logo-img"><img src="{% static 'img/logo_pride.png' %}" height="26px"></a>
    <!--            <span class="menu-logo">deadmedia</span>-->
    <a id="menu-trigger-btn">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
    <ul>
        <!--menu elements-->
        <li><a href="{% url 'hot-page' %}"><i class="fa fa-bolt" aria-hidden="true"></i>Hot</a></li>
        <li><a href="{% url 'adult-page' %}"><i class="fa fa-smile-o" aria-hidden="true"></i>Adult</a></li>
        <li><a href="{% url 'webm-page' %}" class="active"><i class="fa fa-wheelchair-alt" aria-hidden="true"></i>Webm</a></li>
        <li><a href="{% url 'mp4-page' %}"><i class="fa fa-mobile" aria-hidden="true"></i>Mp4</a></li>
        <li><a href="{% url 'faq-page' %}"><i class="fa fa-info" aria-hidden="true"></i>FAQ</a></li>
        <!--menu elements end-->
        <!--admin sign out-->
        {% if is_authenticated %}
        <hr>
        <li class="mobile-only"><a href="{% url 'webm-page' %}">Home</a></li>
        <li class="mobile-only"><a href="{% url 'page-admin-new' %}">ControlPanel</a></li>
        <li class="mobile-only"><a href="{% url 'status-bot' %}">Status</a></li>
        <li class="mobile-only"><a href="{% url 'reported-page' %}">Report</a></li>
        <li class="mobile-only admin-sign-out-mobile"><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a></li>
        {% endif %}
        <!--admin logout ending-->
    </ul>
</nav>
<!--    menu ending-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/Xr6zPUZjSDc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<div class="container">
    <div class="menu-special-border"></div>
</div>

{% block content %} {% endblock %} {% endblock %}
