{% extends 'base_background.html' %} {% block background_content %}{% load static %}
{% if is_authenticated %}
<ul class="admin-special-menu clearfix">
    <li><a href="{% url 'main-page' %}">Home</a></li>
    <li><a href="{% url 'page-admin-new' %}">ControlPanel</a></li>
    <li><a href="{% url 'status-bot' %}">Status</a></li>
    <li><a href="{% url 'reported-page' %}">Report</a></li>
    <li><a href="{% url 'logout' %}">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
</ul>
{% endif %}

<div class="container">
    <div class="category">
        <div class="category-title">
            <a href="/"><img src="{% static 'img/logo_0.png' %}" class="logo" width="320px"></a>
        </div>
    </div>
</div>
<!--    menu-->
<nav class="menu clearfix">
    <a href="/" class="menu-logo-img"><img src="{% static 'img/logo_0.png' %}" height="26px" class="logo-mobile"></a>
    <!--            <span class="menu-logo">deadmedia</span>-->
    <a id="menu-trigger-btn">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
    <ul>
        <!--menu elements-->
        <li><a href="{% url 'videos-page' category='hot' %}"><i class="fa fa-bolt" aria-hidden="true"></i>Hot</a></li>
        <li><a href="{% url 'videos-page' category='adult' %}"><i class="fa fa-smile-o" aria-hidden="true"></i>Adult</a></li>
        <li><a href="{% url 'videos-page' category='webm' %}" class="active"><i class="fa fa-wheelchair-alt" aria-hidden="true"></i>Webm</a></li>
        <li><a href="{% url 'videos-page' category='mp4' %}"><i class="fa fa-mobile" aria-hidden="true"></i>Mp4</a></li>
        <li><a href="{% url 'faq-page' %}"><i class="fa fa-info" aria-hidden="true"></i>FAQ</a></li>
        <!--menu elements end-->
        <!--admin sign out-->
        {% if is_authenticated %}
        <hr>
        <li class="mobile-only"><a href="{% url 'main-page' %}">Home</a></li>
        <li class="mobile-only"><a href="{% url 'page-admin-new' %}">ControlPanel</a></li>
        <li class="mobile-only"><a href="{% url 'status-bot' %}">Status</a></li>
        <li class="mobile-only"><a href="{% url 'reported-page' %}">Report</a></li>
        <li class="mobile-only"><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a></li>
        {% endif %}
        <!--admin logout ending-->
    </ul>
</nav>
<!--    menu ending-->
<div class="container">
    <div class="menu-special-border"></div>
</div>

{% block script_content %}
{% endblock %}

{% block content %} {% endblock %} {% endblock %}
