<!DOCTYPE html>

{% load static %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>WEBM</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
    <div class="container">
        <div class="category">
            <div class="category-title">
                <span class="title">24</span>
                <span class="title-sub">faq</span>
            </div>
        </div>
    </div>
    <!--admin sign out-->
    {% if is_authenticated %}
        <a href="{% url 'logout' %}" class="admin-sign-out">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    {% endif %}
    <!--admin logout ending-->
    <!--    menu-->
    <nav class="menu">
        <a href="#" class="menu-trigger clearfix">
            <span class="menu-logo">Webm24</span>
            <i class="fa fa-bars" aria-hidden="true" id="menu-trigger-btn"></i>
        </a>
        <ul>
            <li><a href="{% url 'hot-page' %}"><i class="fa fa-bolt" aria-hidden="true"></i>Hot</a></li>
            <li><a href="{% url 'adult-page' %}"><i class="fa fa-smile-o" aria-hidden="true"></i>Adult</a></li>
            <li><a href="{% url 'webm-page' %}" class="active"><i class="fa fa-wheelchair-alt" aria-hidden="true"></i>Webm</a></li>
            <li><a href="{% url 'mp4-page' %}"><i class="fa fa-mobile" aria-hidden="true"></i>Mp4</a></li>
            <li><a href="{% url 'faq-page' %}"><i class="fa fa-info" aria-hidden="true"></i>FAQ</a></li>
            <!--admin sign out-->
            {% if is_authenticated %}
                <li class="admin-sign-out-mobile"><a href="{% url 'logout' %}">Sign out</a></li>
            {% endif %}
            <!--admin logout ending-->
        </ul>
    </nav>
    <!--    menu ending-->

    <div class="container">
        <hr>
    </div>


    <div class="container">
    </div>

    <footer class="footer">
        <div class="container">
            <span class="copyright">Copyright &copy; 2017 deadmedia.us All rights reserved.</span>
        </div>
    </footer>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/style.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/tippy.min.js' %}"></script>
</html>
