 {% extends 'base_categories_menu.html' %} {% block content %} {% load hitcount_tags %}
<div class="container">
    <div class="filters-menu">
        <div class="filters-selected">
            <span class="filters-current">{{current_filter_name}}</span>
            <i class="filters-arrow fa fa-caret-down" aria-hidden="true"></i>
        </div>
        <ul class="filters-menu-list clearfix">
            <li><a href="{% url 'videos-page-sort' category_name 'date' 'ordered' %}">Newest</a></li>
            <li><a href="{% url 'videos-page-sort' category_name 'views' 'ordered' %}">Most Viewed</a></li>
            <li><a href="{% url 'videos-page-sort' category_name 'likes' 'ordered' %}">Hottest</a></li>
        </ul>
    </div>
</div>
<div class="infinite-container container">
    {% for videos_row in videos.videos %}
    <div class="infinite-item row images">
        {% for video in videos_row %}
        <div id="{{video.id}}" class="col-md-6 col-lg-3 image">
            <figure>
                <div class="image-link" onclick="expand(1488, '{{video.storage_path_url}}', {{video.width}}, {{video.height}}, 0, {{video.id}})" style="background-image: url({{video.preview_storage_path_url}})">
                    <span class="file-size">
                        {{video.size}}, {{video.duration}}, {{video.width}}x{{video.height}}
                    </span>
                </div>
                <figcaption class="file-attr">
                    <span class="file-name">{{video.title}}</span>
                    <div class="file-admin-panel clearfix">
                        <!--admin special video buttons-->
                        {% if is_authenticated %}
                        <div class="file-admin-information-btn"><i class="fa fa-minus-square-o" aria-hidden="true"></i></div>
                        <div class="file-admin-tools-btn">Tools</div>
                        <a class="file-delete-btn file-admin-btn" title="Delete file">Delete</a>
                        <div class="file-change-category">
                            <a class="file-category-change-btn file-admin-btn" title="Change category">Change to</a>
                            <select class="file-category-change-select">
                                <option value="adult">adult</option>
                                <option value="webm">webm</option>
                                <option value="mp4">mp4</option>
                                <option value="hot">hot</option>
                            </select>
                        </div>
                        <div class="file-admin-information">
                            <span><i>download time:</i> {{video.added_date}}</span>
                            <span><i>database id:</i> {{video.id}}</span>
                            <span><i>thread({% if video.is_thread_alive %}alive{% else %}dead{% endif %}):</i><a href="{{video.source_thread_path}}"> {{video.source_thread_number}}</a></span>
                            <span><i>status:</i> {{video.status}}</span>
                        </div>
                        {% endif %}
                        <!--admin special video buttons-->
                    </div>
                    <div class="file-info clearfix">
                        <span class="file-views"><i class="fa fa-eye" aria-hidden="true"></i><span class="file-views-number">{{ video.views }}</span></span>
                        <span class="file-like">

                            {% if video.is_liked  %}
                            <span class="file-like-area">
                                <i class="fa fa-heart active" aria-hidden="true"></i>
                            </span>
                            {% else %}
                            <span class="file-like-area">
                                <i class="fa fa-heart-o " aria-hidden="true"></i>
                            </span>
                            {% endif %}
                            <!-- Reports!!!!!!!!!!!!
                            {% if video.is_reported  %}
                            <span class="file-like-area">
                                <i class="fa fa-heart active" aria-hidden="true"></i>
                            </span>
                            {% else %}
                            <span class="file-like-area">
                                <i class="fa fa-heart-o " aria-hidden="true"></i>
                            </span>
                            {% endif %}-->

                        <span class="file-likes-number">{{video.likes}}</span>
                        </span>

                        <a class="external-link" target="_blank" href="{{video.storage_path_url}}" title="{{video.title}}"><i class="fa fa-external-link"></i></a>
                        <a class="file-report"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a>
                    </div>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% if videos.has_next %}
<a class="infinite-more-link" href="?page={{ videos.next_page_number }}&first={{ videos.first_page_element }}&const={{ videos.page_const }}"></a> {% endif %}
<div class="loading">
    <div class="loading-image">
        <span><i class="fa fa-spinner fa-spin"></i></span>
    </div>
</div>
{% endblock %}
