<!DOCTYPE html> {% load static %} {% load hitcount_tags %}
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>WEBM</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <body>
        <div class="container">
            <div class="category">
                <div class="category-title">
                    <span class="title">DM</span>
                    <span class="title-sub">webm</span>
                </div>
            </div>
        </div>

        <!--    menu-->
        <nav class="menu">
            <a href="#" class="menu-trigger clearfix">
            <span class="menu-logo">deadmedia</span>
            <i class="fa fa-bars" aria-hidden="true" id="menu-trigger-btn"></i>
        </a>
            <ul>
                <li><a href="{% url 'hot-page' %}"><i class="fa fa-bolt" aria-hidden="true"></i>Hot</a></li>
                <li><a href="{% url 'adult-page' %}"><i class="fa fa-smile-o" aria-hidden="true"></i>Adult</a></li>
                <li><a href="{% url 'webm-page' %}" class="active"><i class="fa fa-wheelchair-alt" aria-hidden="true"></i>Webm</a></li>
                <li><a href="{% url 'mp4-page' %}"><i class="fa fa-mobile" aria-hidden="true"></i>Mp4</a></li>
                <li><a href="{% url 'faq-page' %}"><i class="fa fa-info" aria-hidden="true"></i>FAQ</a></li>
                <!--admin sign out-->
                {% if is_authenticated %}
                <li class="admin-sign-out-mobile"><a href="{% url 'logout' %}">Sign out</a></li>
                {% endif %}
                <!--admin logout ending-->
            </ul>
        </nav>
        <!--    menu ending-->

        <div class="container">
            <hr>
        </div>

        <div class="infinite-container container">
            {% for videos_row in videos %}
            <div class="infinite-item row images">
                {% for video in videos_row %}
                <div id="{{video.id}}" class="col-md-6 col-lg-3 image">
                    <figure>
                        <div  class="image-link" onclick="expand(1488, '/storage/{{video.storage_name}}', {{video.video_width}}, {{video.video_height}}, 0, {{video.id}})" style="background-image: url(/storage/{{video.preview_storage_name}})">
                            <span class="file-size">
                                {{video.video_size_str}}, {{video.video_duration_str}}, {{video.video_width}}x{{video.video_height}}
                            </span>
                        </div>
                        <figcaption class="file-attr">
                            <span class="file-name">{{video.title}}</span>
                            <div class="file-admin-panel clearfix">
                                <!--admin special video buttons-->
                                {% if is_authenticated %}

                                <div class="file-admin-information-btn"><i class="fa fa-minus-square-o" aria-hidden="true"></i></div>
                                <a class="file-delete-btn" title="Delete file">Delete</a>
                                <div class="file-admin-information">
                                    <span><i>download time:</i> {{video.added_date}}</span>
                                    <span><i>database id:</i> {{video.id}}</span>
                                    <span><i>thread:</i><a href="{{video.source_thread_path}}"> {{video.source_thread_number}}</a></span>
                                </div>
                                {% endif %}
                                <!--admin special video buttons-->
                            </div>
                            <div class="file-info clearfix">
                                <span class="file-views"><i class="fa fa-eye" aria-hidden="true"></i><span class="file-views-number">{% get_hit_count for video %}</span></span>
                                <span class="file-like"><i class="fa fa-heart-o" aria-hidden="true"></i>0</span>
                                <!-- like 
                                    <span class="file-like"><i class="fa fa-heart active" aria-hidden="true"></i>0</span>
                                -->
                                <a class="external-link" target="_blank" href="/storage/{{video.storage_name}}" title="{{video.title}}"><i class="fa fa-external-link"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% if videos.has_next %}
        <a class="infinite-more-link" href="?page={{ videos.next_page_number }}"></a> {% endif %}
        <div class="loading">
            <div class="loading-image">
                <span><i class="fa fa-spinner fa-spin"></i></span>
            </div>
        </div>
        <!--admin special menu -->
        {% if is_authenticated %}
        <ul class="admin-special-menu clearfix">
            <li><a href="/">Home</a></li>
            <li><a href="/newadmin">ControlPanel</a></li>
            <li class="admin-sign-out"><a href="{% url 'logout' %}">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
        {% endif %}
        <!--admin special menu ending-->
        <footer class="footer">
            <div class="container">
                <span class="copyright">Copyright &copy; 2017 deadmedia.us All rights reserved.</span>
            </div>
        </footer>
    </body>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/fullscreen.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function() {
                $('.loading').show();
            },
            onAfterPageLoad: function($items) {
                $('.loading').hide();
            }
        });

    </script>
    <script src="{% static 'js/style.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>
